body{
	background: url("");
	background-size: cover;
	background-color: #000;
	font-family:'Great Vibes', sans-serif; 
	color: #FFF;
	font-weight: normal;
	text-align: center;
}
input {
	width: 400px;
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}
p{
	font-family: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
	color: #FFF;
	padding: 0px;
}
a{
	color: #FFF;
	font-family: cursive;
	font-size: 1em;
	text-align: left;
}
hr{
	width: 200px;
}
