body{
	background: url("http://imgur.com/JmjdS7k");
	background-size: cover;
	background-color: #000;
	color: #fff;
	font-family:'Great Vibes', sans-serif; 
	font-size: 2.0em;
	font-weight: normal;
	text-align: center;
}
p{
	color: #fff;
	font-family: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	text-align: center;
	max-width: 500px;
	padding: 2px;
}
a{
	color: #fff;
	font-family: cursive;
	font-size: 1em;
	text-align: center;
	padding: 2px;
}
hr{
	width: 200px;
}
